<h1>Sign Up to Be a Volunteer!</h1>

<%= form_for @volunteer do |v| %>

	<ul>
		<p><%= v.label :first_name, "First Name:" %></p>			
		<p><%= v.text_field :first_name %></p>	

		<p><%= v.label :last_name, "Last Name:" %></p>
		<p><%= v.text_field :last_name %></p>

		<p><%= v.label :email, "Email Address:" %></p>
		<p><%= v.text_field :email %></p>

		<p><%= v.label :phone_number, "Phone Number:" %></p>
		<p><%= v.text_field :phone_number %></p>
		
		<p><%= v.label :password, "Password:" %></p>
		<p><%= v.password_field :password %></p>

		<p><%= v.submit "Become A Volunteer" %></p>
	</ul>

<% end %>