<h1>Listing organizations</h1>

<div class="org">
<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Location</th>
    <th>Contact</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.category.upcase %></td>
    <td><%= link_to organization.name, organization %></td>
    <td><%= organization.location %></td>
    <td><%= organization.contact %></td>
    <td><%= organization.phone %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>
<br />

<%= link_to 'New Organization', new_organization_path %>
